.container {
	max-width: 1100px;
	width: 70%;
	margin: auto;
	overflow: hidden;
	padding: 2rem;
}

a {
	text-decoration: none;
}

.main-background {
	background: url(./image/main.jpg) center/cover;
	position: fixed;
	z-index: -1;
	width: 100vw;
	height: 100vh;
}

.space {
	margin-bottom: 2rem;
}

.para {
	font-size: 1.1rem;
	padding: 1rem;
}

.para-normal {
	padding: 1rem 0 0 0;
}

.para-button {
	margin-top: 1rem;
}

.main-para {
	padding: 1rem;
	position: relative;
	color: white;
	text-align: center;
	top: 12rem;
	background: #0000ff47;
	width: 75%;
	margin: auto;
	border-radius: 10px;
	/* border: 0; */
}

.main-para--header {
	margin-bottom: 1rem;
}

.register-page--title {
	color: #1060b9;
	padding: 1rem 0;
	text-align: center;
}

.register-page--para {
	padding: 1rem 0;
	font-size: 2rem;
	font-weight: bold;
}

.register-page--para__note {
	padding: 1rem 0;
}

.dashboard-title {
	color: #4e86af;
	padding: 1rem 0;
}

.dashboard-para {
	font-size: 1.5rem;
	padding-left: 0.5rem;
}

.danger-para {
	color: #7d3e3e;
	font-size: 1.1rem;
	padding-bottom: 1rem;
}

.para-button {
	margin: 2rem;
	padding: 1rem;
	text-align: center;
	background: #edf2f5;
	border: 1px solid #edf2f5;
	border-radius: 5px;
}

.header_form {
	color: #0c48f7;
	padding: 0.5rem 0;
}

.form__main-para {
	font-size: 1.2rem;
	padding: 0.1rem 0rem;
}

.form__para {
	font-size: 0.8rem;
	padding: 1rem 0;
}

.social-media-inputs {
	padding: 0.7rem 0;
	margin: 0.5rem 0;
}

.form-button {
	padding: 0.5rem 0;
	margin-top: 1.2rem;
}

.form__main-para--small {
	font-size: 1rem;
}

.table-header {
	margin: 3rem 0 1rem 0;
}

.table {
	margin: 1rem;
}

.dev-card {
	border: 2px solid #ccc;
	background: #ececf1;
	padding: 1rem;
	margin: 1rem 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.dev-card__photo img {
	border-radius: 50%;
	border: 1px solid #ccc;
}

.dev-card__info {
	display: flex;
	justify-content: space-between;
}

.dev-card__main-info {
	width: 20vw;
	margin-bottom: 1rem;
}

.dev-card_skills {
	width: 20vw;
	align-items: center;
	padding: 2rem;
}

.user-page {
	margin-top: 2rem;
}

.user-page__main {
	background-color: #4298d4;
	padding: 1rem;
	text-align: center;
	margin-bottom: 1rem;
	color: white;
}

.user-page__main img {
	border: 1px solid #ccc;
	border-radius: 50%;
}

.user-page__name {
	font-size: 2.2rem;
}


.user-page__location {
	padding: 0.5rem;
	font-weight: bold;
}

.user-page__socialmedia {
	padding: 1rem;
}



.user-page__socialmedia a {
	padding: 0.4rem;
}

.user-page__about {
	background-color: #cccccc42;
	padding: 2rem;
	align-items: center;
	color: #383030;

}


.user-page__bio {
	border-bottom: 1px solid #ccc;
	align-items: center;
	padding-bottom: 2rem;
	margin-bottom: 1rem;
}


.user-page__about h4 {
	color: #4298d4;
	margin: 0 auto;
	text-align: center;
	padding: 0.2rem;
}

.user-page__bio p {
	text-align: center;
}




.user-page__skills p {
	text-align: center;
}


.user-page__skill {
	display: flex;
	flex-direction: row;
}

.user-page__skill span {
	text-align: center;
	padding: .5rem;
}

.exp-and-edu {
	display: flex;
}

.exps,
.edus {
	padding: 1rem;
	border: 1px solid #ccc;
	width: 49%;
	margin-top: 1rem;
}

.edus {
	margin-left: 1rem;
}

.exps h1,
.edus h1 {
	color: #4298d4;
	padding: 0 0 0.7rem 0;
	font-size: 1.7rem;
}


.exp,
.edu {
	padding: 1rem 0;
	border-top: 1px solid #ccc;
}

.exp-title,
.edu-title {
	font-size: 1.2rem;
	font-weight: bolder;
}

.edu-para span,
.exp-para span {
	font-weight: bolder;
}