.container {
    max-width: 1100px;
    width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 2rem;
}


a {
    text-decoration: none;
}


.main-background {
    background: url(./image/main.jpg) center/cover;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.para {
    font-size: 1.1rem;
    padding: 1rem;
}

.main-para {
    padding: 1rem;
    position: relative;
    color: white;
    text-align: center;
    top: 12rem;
    background: #0000ff47;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    /* border: 0; */
}

.main-para--header {
    margin-bottom: 1rem;
}



.register-page--title {
    color: #1060b9;
    padding: 1rem 0;
    text-align: center;
}

.register-page--para {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
}


.register-page--para__note {
    padding: 1rem 0
}


.dashboard-title {
    color: #4e86af;
    padding: 1rem 0
}

.dashboard-para {
    font-size: 1.5rem;
    padding-left: 0.5rem;
}


.danger-para {
    color: #7d3e3e;
    font-size: 1.1rem;
    padding-bottom: 1rem;
}


.para-button {
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    background: #edf2f5;
    border: 1px solid #edf2f5;
    border-radius: 5px;
}


.header_form {
    color: #0c48f7;
    padding: 0.5rem 0
}

.form__main-para {
    font-size: 1.2rem;
    padding: 0.1rem 0rem;
}

.form__para {
    font-size: 0.8rem;
    padding: 1rem 0
}