.main-background {
    background: url(./image/main.jpg) center/cover;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.para {
    font-size: 1.1rem;
    padding: 1rem;
}

.main-para {
    padding: 1rem;
    position: relative;
    color: white;
    text-align: center;
    top: 12rem;
    background: #0000ff47;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    /* border: 0; */
}

.main-para--header {
    margin-bottom: 1rem;
}